body {
	font-family: 'Roboto';
}
.container {
	padding-top: 15px;
}

div.social {
	margin-top: 25px;
}

div.socials {
	width: 70%;
	margin: auto;
}

a {
	color: #1a1a1a;
}

.name{
	margin-top: 5px;
}

#logo {
	margin-bottom: 100px;
}