/* For small sized screen only */
@media(max-width:767px){
    .container {
        margin-top:0 !important;
		box-shadow: initial !important;
		border-radius: initial !important;
    }
	body {
		background-color: white !important;
		background: white !important;
	}
}

body {
	    background: linear-gradient(45deg, rgba(253, 203, 222, 0.14) 0%,rgba(244, 244, 166, 0.13) 33%,rgba(180, 237, 243, 0.17) 66%,rgba(253, 203, 222, 0.19) 100%);
	background-attachment: fixed;
	font-family: 'Roboto';
	opacity: 0;
}

.container {
	/*position: relative;*/
	padding-top: 15px;
	margin-top: 20px;
	max-width: 450px;
	background-color: white !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 2px;
}

div.socials {
	margin-top: 15px;
	margin-bottom: 25px;
}

.fa {
	-webkit-transition: color 2s;
    transition: color 0.5s;
	color: rgb(51, 51, 51);
}

.fa.fa-facebook:hover {
	color: #3b5998;
}

.fa.fa-github:hover {
	color: #000000;
}

.fa.fa-linkedin:hover {
	color: #007bb5;
}

.fa.fa-stack-overflow:hover {
	color: #F48024;
}

.fa.fa-google-plus:hover {
	color: #dd4b39;
}

.fa.fa-instagram:hover {
	color: #fccc63;
}

.fa.fa-twitter:hover {
	color: #55acee;
}

.fa.fa-skype:hover {
	color: #00aff0;
}

.fa.fa-quora:hover {
	color: #a82400;
}

.fa.fa-envelope:hover {
	color: #dd4b39;
}

.fa.fa-home:hover {
	color: sienna;
}

.fa.fa-phone:hover {
	color: #A4CA39;
}

#about {
	text-align: justify;
}

/* Github Corner */
.github-corner > svg {
	fill:rgb(51, 51, 51);
	color:#fff;
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}