html {
	opacity: 0;
}

body {
	background-color: white;
	font-family: 'Roboto';
}

.container {
	padding-top: 15px;
	max-width: 450px;
}

div.social {
	margin-top: 30px;
}

.fa {
	-webkit-transition: color 2s;
    transition: color 0.5s;
	color: rgb(51, 51, 51);
}

.fa.fa-facebook:hover {
	color: #3b5998;
}

.fa.fa-github:hover {
	color: #000000;
}

.fa.fa-linkedin:hover {
	color: #007bb5;
}

.fa.fa-stack-overflow:hover {
	color: #F48024;
}

.fa.fa-google-plus:hover {
	color: #dd4b39;
}

.fa.fa-instagram:hover {
	color: #fccc63;
}

.fa.fa-twitter:hover {
	color: #55acee;
}

.fa.fa-skype:hover {
	color: #00aff0;
}

.fa.fa-quora:hover {
	color: #a82400;
}

.fa.fa-envelope:hover {
	color: #dd4b39;
}

.fa.fa-home:hover {
	color: sienna;
}

.fa.fa-mobile:hover {
	color: #A4CA39;
}

#logo {
	margin-bottom: 15px;
}

#about {
	text-align: justify;
}

/* Github Corner */
.github-corner > svg {
	fill:rgb(51, 51, 51);
	color:#fff;
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}